@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background-color: #eae2f0;
  display: flex;
  justify-content: center;
}

#cabecalho{
  display: flex;
  justify-content: center;
  background-color: #7E33E0;
  padding: 10px;
  width: 100vw;
  color: white;
}

#titulo{
  font-size: 17px;
  font-weight: 400;
}

#search-box{
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  background-color: white;
}

#logo{
  width: 70px;
  height: 70px;
}

#input-box{
  display: flex;
  width: 40%;
  justify-content: end;
}

#input{
  height: 45px;
  width: 70%;
  border-radius: 15px;
  border: 2px solid #E7E6EF;
  padding-left: 10px;
  outline: none;
}

#btn-pesquisar{
  background-color: #FB2E86;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn{
  font-size: 16px;
  color: rgb(89, 88, 88);
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover{
  transform: translateY(-4px);
  box-shadow: 5px 8px 10px #E7E6EF;
}

.rotating-nav{
  position: relative;
  perspective: 1000px;
}

.nav-toggle {
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.5s;
  color: #FB2E86;
}

.nav-toggle:hover {
  background:#7E33E0;
  box-shadow: 2px 2px 10px #582e8b, -2px -2px 10px #7E33E0;
  transform: translateY(-5px);
  color: white;
  border: none;
}

.nav-items {
  position: absolute;
  left: 0;
  width: 200px;
  list-style: none;
  padding: 0;
  margin: 15px;
  transform-style: preserve-3d;
  transform: rotateX(-80deg);
  transform-origin: top center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rotating-nav.active .nav-items {
  transform: rotatex(0);
  opacity: 1;
}

.nav-items li{
  background: #FB2E86;
  margin-bottom: 5px;
  transform: translateZ(0);
  transition: all 0.3s ease;
}

.nav-items li:hover{
  background: #FB2E86;
  transform: translatez(15px);
}

.nav-items a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.material-symbols-outlined{
  font-size: 30px;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 75vh;
  width: 90%;
  max-width: 90%;
  justify-self: center;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgb(189, 172, 172);
}

.product-card{
  border: 2px solid #7E33E0;
  padding: 15px;
  height: 300px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s;
  background-color: #faf3ff;
  margin: 10px;
}

.product-card:hover{
  transform: translateY(-5px);
}

.product-img{
  width: 80%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.add-to-cart {
  background-color: #7E33E0;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 8px;
}